@font-face {
  font-family: "Roboto";
  src: url("https://assets.codepen.io/907368/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("https://assets.codepen.io/907368/Roboto-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("https://assets.codepen.io/907368/Roboto-Light.ttf");
  font-weight: 300;
}
body,
html {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0c1016;
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "Roboto";
  overflow-x: hidden;
  user-select: none;
}

* {
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 90%;
  padding: 2rem;
}
.cards:hover .card {
  background: radial-gradient(
    100rem circle at var(--xPos) var(--yPos),
    rgba(0, 255, 241, 0.4),
    transparent 15%
  );
}
.cards .card {
  width: 20rem;
  height: 15rem;
  background: radial-gradient(
    150rem circle at 0 0,
    rgba(0, 255, 241, 0),
    transparent 0%
  );
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.15s;
}
.cards .card:hover {
  transform: scale(0.97);
}
.cards .card:hover::before {
  opacity: 1;
}
.cards .card::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  background: radial-gradient(
    60rem circle at var(--xPos) var(--yPos),
    rgba(0, 255, 241, 0.1),
    transparent 35%
  );
  opacity: 0;
  transition: all 0.15s ease-in-out;
}
.cards .card .card-content {
  background-color: #13161c;
  border-radius: inherit;
  transition: all 0.25s;
  height: calc(100% - 0.1rem);
  width: calc(100% - 0.1rem);
}
